{% extends "sidebar.html" %}

{% block content %}

<div class="content p-4 mx-auto" style="width: 50%; max-width: 1200px;">
    <h1 class="text-center mb-4">Book Room</h1>
    {% if room %}
        <div class="container mt-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <!-- Image -->
                    <div class="col-md-4">
                        <img src="{{ url_for("static", filename=room.image_url) }}" class="img-fluid rounded-start" alt="Room Image">
                    </div>
                    <!-- Text -->
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ room.room_type.title() ~ " Rooms for Building " ~ room.building ~ " - Floor Level " ~ room.floor_number }}</h5>
                            <p class="card-text">{{ room.description }}</p>
                            <!-- <p class="card-text"><small class="text-muted">Available: {{ room.available_rooms }}</small></p> -->
                            
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Available: {{ room.available_rooms }}</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <form method="POST" action="{{'/submit_application' if form_data.action == 'book' else '/edit_application/' ~ form_data.room_id }}">
        {% if room %}
            <input type="hidden" name="room_id" value="{{ room.id }}">
        {% endif %}
        {% if errors.room %}
            <div class="text-danger">{{ errors.room }}</div>
        {% endif %}

        <!-- Student ID -->
        <div class="mb-3">
            <label for="studentId" class="form-label">Student ID</label>
            <input type="text" class="form-control" id="studentId" name="student_id" value="{{ form_data.student_id if form_data else '' }}" placeholder="Enter your Student ID" >
            
            {% if errors.student_id %}
                <div class="text-danger">{{ errors.student_id }}</div>
            {% endif %}
        </div>

        <!-- First Name -->
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="first_name" value="{{ form_data.first_name if form_data else '' }}" placeholder="Enter your First Name" >
            
            {% if errors.first_name %}
                <div class="text-danger">{{ errors.first_name }}</div>
            {% endif %}
        </div>

        <!-- Last Name -->
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="last_name" value="{{ form_data.last_name if form_data else '' }}" placeholder="Enter your Last Name" >
        
            {% if errors.last_name %}
                <div class="text-danger">{{ errors.last_name }}</div>
            {% endif %}
        </div>

        <!-- Middle Name -->
        <div class="mb-3">
            <label for="middleName" class="form-label">Middle Name</label>
            <input type="text" class="form-control" id="middleName" name="middle_name" value="{{ form_data.middle_name if form_data else '' }}" placeholder="Enter your Middle Name">
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form_data.email if form_data else '' }}" placeholder="Enter your Email" >
        
            {% if errors.email %}
                <div class="text-danger">{{ errors.email }}</div>
            {% endif %}
        </div>

        <!-- Telephone -->
        <div class="mb-3">
            <label for="telephone" class="form-label">Telephone</label>
            <input type="tel" class="form-control" id="telephone" name="telephone" value="{{ form_data.telephone if form_data else '' }}" placeholder="Enter your Telephone Number" >
        
            {% if errors.telephone %}
                <div class="text-danger">{{ errors.telephone }}</div>
            {% endif %}
        </div>

        <!-- Gender -->
        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" name="gender" class="form-control" >
                <option value="" disabled {% if not form_data.gender %}selected{% endif %}>Select Gender</option>
                <option value="male" {% if form_data.gender == 'male' %}selected{% endif %}>Male</option>
                <option value="female" {% if form_data.gender == 'female' %}selected{% endif %}>Female</option>
                <option value="other" {% if form_data.gender == 'other' %}selected{% endif %}>Other</option>
            </select>

            {% if errors.gender %}
                <div class="text-danger">{{ errors.gender }}</div>
            {% endif %}
        </div>

        <!-- Level of Education -->
        <div class="mb-3">
            <label for="educationLevel" class="form-label">Level of Education</label>
            <select id="educationLevel" name="education_level" class="form-control" >
                <option value="" disabled {% if not form_data.educationLevel %}selected{% endif %}>Select Level of Education</option>
                <option value="undergraduate" {% if form_data.educationLevel == 'undergraduate' %}selected{% endif %}>Undergraduate</option>
                <option value="postgraduate" {% if form_data.educationLevel == 'postgraduate' %}selected{% endif %}>Postgraduate</option>
            </select>

            {% if errors.education_level %}
                <div class="text-danger">{{ errors.education_level }}</div>
            {% endif %}
        </div>

        <!-- Program Type -->
        <div class="mb-3">
            <label for="programType" class="form-label">Program Type</label>
            <select id="programType" name="programType" class="form-control" >
                <option value="" disabled {% if not form_data.programType %}selected{% endif %}>Select a Program</option>
                <option value="bachelors" {% if form_data.programType == 'bachelors' %}selected{% endif %}>Bachelors</option>
                <option value="masters" {% if form_data.programType == 'masters' %}selected{% endif %}>Masters</option>
                <option value="Mphil" {% if form_data.programType == 'Mphil' %}selected{% endif %}>Mphil</option>
                <option value="PhD" {% if form_data.programType == 'PhD' %}selected{% endif %}>PhD</option>
            </select>

            {% if errors.program_type %}
                <div class="text-danger">{{ errors.program_type }}</div>
            {% endif %}
        </div>

        <!-- Reason for Applying -->
        <div class="mb-3">
            <label for="reason" class="form-label">Reason for Applying for Accommodation</label>
            <textarea id="reason" name="reason_for_applying" class="form-control" rows="3"  placeholder="State your reason for applying for accommodation" >{{ form_data.reason_for_applying if form_data else '' }}</textarea>
        
            {% if errors.reason_for_applying %}
                <div class="text-danger">{{ errors.reason_for_applying }}</div>
            {% endif %}
        </div>

        <!-- Co-curricular Activities -->
        <div class="mb-3">
            <label for="activities" class="form-label">Co-curricular Activities</label>
            <textarea id="activities" name="co_curricular_activities" class="form-control" rows="3"  placeholder="List any co-curricular activities you are involved in">{{ form_data.co_curricular_activities if form_data else '' }}</textarea>
        </div>

        <!-- Agreement -->
        <div class="mb-4">
            <h5>Agreement</h5>
            <p>
                Please be advised that the information provided on your application to The University will be used by the Halls of Residence to process your application:
            </p>
            <ul>
                <li>Acceptance to the University does not guarantee an assignment to a room.</li>
                <li>Application to reside in Hall does not guarantee a room.</li>
                <li>The University's regulation on conduct and policies under which housing facilities are operated must be observed at all times during the period of residence.</li>
                <li>It is my responsibility to update my contact information.</li>
                <li>If I fail to respond to ANY correspondence from the Halls of Residence by the stated deadline my application will be canceled.</li>
                <li>Persons who have been offered and accepted a place in a hall will only be guaranteed accommodation for a period of one academic year, provided that all terms and conditions of the Hall Agreement are adhered to.</li>
            </ul>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="agreement" name="agreement" {% if form_data.agreement %}checked{% endif %} >
                <label class="form-check-label" for="agreement">I accept</label>
            </div>

            {% if errors.agreement %}
                <div class="text-danger">{{ errors.agreement }}</div>
            {% endif %}
        </div>

        {% if form_data.action == 'book'%}
            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit Application</button>
            </div>
        {% endif %}
        {% if form_data.action == 'edit'%}
            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-warning">Edit Application</button>
            </div>
        {% endif %}
    </form>
</div>

{% endblock content %}






